{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    <title>{%if LANGUAGE_CODE == 'en' %}
                CRM | Client Base
            {% elif LANGUAGE_CODE == 'ru'%}
                CRM | Клиентская база
            {% else %}
                CRM | Client Base
            {% endif %}</title>
{% endblock title %}
{% block css %}
    <!-- Vendors Style-->
    <link rel="stylesheet" href="{% static 'crm/main/css/vendors_css.css' %}">

    <!-- Style-->
    <link rel="stylesheet" href="{% static 'crm/main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'crm/main/css/skin_color.css' %}">
    <style>

        .text-mute {
            color: #ffffff !important;
        }

        h3 > span {
            color: #ffffff !important;
        }

        .theme-primary .text-primary {
            color: #6B778D;
        }

        .dark-skin h1, .dark-skin h2, .dark-skin h3, .dark-skin h4, .dark-skin h5, .dark-skin h6 {
            color: #ffffff;
        }

        .text-dark {
            color: #ffffff !important;
        }

        .dark-skin .table {
            color: #ffffff;
        }

        .btn-dark {
            background-color: #272e48 !important;
        }
    </style>
    <!-- Style-->
{% endblock css %}
{% block content %}
    <!-- Main content -->
    <section class="content">

        <div class="row">
            
            <div class="col-12">
                <div class="box-body" style="padding: 0">
                    <div class="row">
                        <div class="col-md-2">
                            
                        </div>
                        <div class="col-md-10">
                            <form>
                                <div class="btn-group" id="filter_group">
                                    <input name="date"  type="text" class="btn btn-dark btn-rounded" id="reservation">
            
                                    {% if user.is_director %}
                                        <select class="btn btn-dark" data-style="btn-dark" id="user" name="user">
                                            <option value="">
                                            {%if LANGUAGE_CODE == 'en' %}
                                        All
                                    {% elif LANGUAGE_CODE == 'ru'%}
                                        Bce
                                    {% else %}
                                        Barchasi
                                    {% endif %}
                                            </option>
                                            {% for u in users %}
                                                <option value="{{ u.id }}"
                                                        data-tokens="{{ u.first_name|default_if_none:'' }}">{{ u.last_name|default_if_none:'' }} {{ u.first_name|default_if_none:'' }} {{ u.username|default_if_none:'' }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                    <select class=" btn btn-dark" data-style="btn-dark" onchange="getReg()" id="region"
                                                             style="
                                                            width: 100%;">
                                                        <option value="">{% if LANGUAGE_CODE == 'en' %}
                                                        Select a region
                                                    {% elif LANGUAGE_CODE == 'ru'%}
                                                        Выберите регион
                                                    {% else %}
                                                        Viloyatni tanlang
                                                    {% endif %}</option>
                                                        {% for t in region %}
                                                            <option value="{{ t.id }}">{{ t.name }}</option>
                                                        {% endfor %}
                                    </select>
                                    <select data-style="btn btn-dark"  class="btn btn-dark " id="district" name="district"
                                                            style="width: 100%;">
                                                        <option value="">{% if LANGUAGE_CODE == 'en' %}
                                                        Select a region
                                                    {% elif LANGUAGE_CODE == 'ru'%}
                                                        Выберите регион
                                                    {% else %}
                                                        Hududni tanlang
                                                    {% endif %}</option>
                                                    {% for t in district %}
                                                    <option value="{{ t.id }}">{{ t.name }}</option>
                                                {% endfor %}
                                    </select>
                                    <button class="btn btn-dark " >{% if LANGUAGE_CODE == 'en' %}
                                                        Confirmation
                                                    {% elif LANGUAGE_CODE == 'ru'%}
                                                        Подтверждение
                                                    {% else %}
                                                        Tasdiqlash
                                                    {% endif %}</button>
                                </div>
                            </form>
                            <br>
                        </div>
                    </div>
                    <div class="tab-content">
                        <form action="{% url 'importLead' %}" method="post" enctype="multipart/form-data">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger">
                                            {{ message }}</div>
                                    {% endif %}
                                    {% if message.tags == "success" %}
                                        <div class="alert alert-success">
                                            {{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-lg-6">
                                   
                                </div>
                                <div class="col-lg-2">
                                    <input type="file" name="leads" class="form-control" accept=".xlsx">
                                </div>
                                <div class="col-lg-2">
                                    <input class="btn btn-primary" type="submit" value="{%if LANGUAGE_CODE == 'en' %}Import {% elif LANGUAGE_CODE == 'ru'%}Импорт{% else %}Import qilish{% endif %}">
                                </div>
                                <div class="col-lg-2">
                                    <a class="btn btn-primary" href="{{ template_excel.xlsx.url }}"
                                       download>{%if LANGUAGE_CODE == 'en' %}
                                        Sample download
                                    {% elif LANGUAGE_CODE == 'ru'%}
                                        Образец загрузки
                                    {% else %}
                                        Na'munani yuklab olish
                                    {% endif %}</a>
                                </div>
                            </div>
                        </form>
                        <!-- Tab panes -->
                    </div>
                    <div class="tab-content">
                        <div class="col-12" style="padding: 0">
                            <div class="box">
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table id="example" class="table table-bordered table-striped">
                                            <thead>
                                            <tr class="text-center">
                                                <th>№</th>
                                                {% if LANGUAGE_CODE == 'en' %}
                                                <th>First name</th>
                                                <th>Last name</th>
                                                <th>Birthsday</th>
                                                <th>Address</th>
                                                <th>Phone</th>
                                                <th>Degree</th>
                                                {% elif LANGUAGE_CODE == 'ru'%}
                                                <th>Имя</th>
                                                <th>Фамилия</th>
                                                <th>Дата рождения</th>
                                                <th>Адрес</th>
                                                <th>Телефон</th>
                                                <th>Степень</th>
                                                {% else %}
                                                <th>Ism</th>
                                                <th>Familiya</th>
                                                <th>Tug'ilgan sana</th>
                                                <th>Manzil</th>
                                                <th>Telefon</th>
                                                <th>Daraja</th>
                                                {% endif %}
                                                <th>ABC</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for t in clients %}
                                                <tr class="text-center">
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ t.surname }}</td>
                                                    <td>{{ t.name }}</td>
                                                    <td>{{ t.birthday|date:'d.m.Y' }}</td>
                                                    <td>{{ t.district }}</td>
                                                    <td>{{ t.phone }}</td>
                                                    {% if t.degree == 1 %}
                                                        <td>Past</td>
                                                    {% elif t.degree == 2 %}
                                                        <td>O`rta</td>
                                                    {% else %}
                                                        <td>Yuqori</td>
                                                    {% endif %}
                                                    <td>{{ t.abcxyz }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
{% endblock content %}
{% block js %}
<script src="{% static 'crm/main/js/vendors.min.js' %}"></script>
<script src="{% static 'crm/assets/icons/feather-icons/feather.min.js' %}"></script>

<script src="{% static 'crm/assets/vendor_components/easypiechart/dist/jquery.easypiechart.js' %}"></script>
<script src="{% static 'crm/assets/vendor_components/apexcharts-bundle/irregular-data-series.js' %}"></script>
<script src="{% static 'crm/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js' %}"></script>

<script src="{% static 'crm/assets/vendor_components/raphael/raphael.min.js' %}"></script>
<script src="{% static 'crm/assets/vendor_components/morris.js/morris.min.js' %}"></script>
<script src="{% static 'crm/main/js/pages/widget-morris-charts.js' %}"></script>

<script src="{% static 'crm/main/js/template.js' %}"></script>
<script src="{% static 'crm/main/js/pages/dashboard.js' %}"></script>
<script src="{% static 'crm/assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
<script src="{% static 'crm/assets/vendor_plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'crm/assets/vendor_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'crm/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'crm/main/js/pages/advanced-form-element.js' %}"></script>
<script src="{% static 'crm/assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>

<script src="{% static 'crm/assets/vendor_components/Flot/jquery.flot.js' %}"></script>
<script src="{% static 'crm/assets/vendor_components/Flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'crm/assets/vendor_components/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'crm/assets/vendor_components/Flot/jquery.flot.categories.js' %}"></script>
<script src="{% static 'crm/main/js/pages/widget-flot-charts.js' %}"></script>
<script>
    function getReg() {
        var id = document.getElementById("region").value;
        console.log(id)
        $.ajax({
            type: 'get',
            url: `/getregion/?id=` + String(id),
            success: function (r) {
                $("#district").empty();
                for (d of r['district']) {
                    var op = `<option value="` + d.id + `">` + d.name + `</option>`
                    $('#district').append(op);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>
{% endblock js %}